<!-- Front-end for details page of the ticket after clicking more details from search results -->

<h1>Details for ticket</h1>

<br>

<h3>Ticket id: {{ticket.id}}</h3>

<br>

<!-- Clickable image takes user to the image in new tab -->
<a href="
  {{#if ticket.imagePath}}
    http://ec2-54-215-173-150.us-west-1.compute.amazonaws.com/{{ticket.imagePath}}
  {{else}}
    http://ec2-54-215-173-150.us-west-1.compute.amazonaws.com/uploads/noimage.png
  {{/if}}" target="_blank">

  <!-- The image itself -->
  <img src="
    {{#if ticket.imagePath}}
      http://ec2-54-215-173-150.us-west-1.compute.amazonaws.com/{{ticket.imagePath}}
    {{else}}
      http://ec2-54-215-173-150.us-west-1.compute.amazonaws.com/uploads/noimage.png
    {{/if}}" alt="Error loading image" class="img-fluid">
</a>

<br>

<!-- General information about the ticket -->
<table class="table table-sm table-hover table-borderless h4">
  <tbody>
    <!-- The type of issue -->
    <tr>
      <th scope="row" style="width: 20%;">Issue</th>
      <th>{{ticket.issueName}}</th>
    </tr>

    <!-- Location at which the issue is taking place -->
    <tr>
      <th scope="row">Location</th>
      <td><a href="/location/{{ticket.urlRoute}}">{{ticket.locationName}}</a></td>
    </tr>

    <!-- Level of danger rated for this issue -->
    <tr>
      <th scope="row">Rating</th>
      <td>{{ticket.rating}}</td>
    </tr>

    <!-- Description of the ticket -->
    <tr>
      <th scope="row">Description</th>
      <td>{{ticket.description}}</td>
    </tr>
  </tbody>
</table>

<br>

<!-- Information on the ticket's submission -->
<table class="table table-sm table-hover table-borderless h4">
  <tbody>
    <!-- User who submitted this ticket -->
    <tr>
      <th scope="row" style="width: 20%;">Submitted by User</th>
      <th>
        {{#if ticket.userName}}
          <a href="/users/profile/{{ticket.userName}}">{{ticket.userName}}</a>
        {{else}}
          anonymous
        {{/if}}
      </th>
    </tr>

    <!-- Time at which this ticket was first submitted -->
    <tr>
      <th scope="row">Submitted at time</th>
      <td>{{ticket.time}}</td>
    </tr>

    <!-- The status of the ticket -->
    <tr>
      <th scope="row">Status of ticket</th>
      <td>{{ticket.status}}</td>
    </tr>
  </tbody>
</table>
