<!-- PLEASE READ -->
<!---->
<!-- THIS LAYOUT FILE PROVIDES THE UNIVERSAL TEMPLATE FOR THE ENTIRE WEB APPLICATION -->
<!-- EVERY HBS FILE WILL USE THIS LAYOUT TO DISPLAY CONTENT -->
<!---->
<!-- PLEASE READ -->

<!DOCTYPE html>
<html>

<head>
  <!-- Title of web page passed in from corresponding .js route file -->
  <title>{{title}}</title>

  <!-- BOOTSTRAP -->
  <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">

  <!-- Sidebar CSS -->
  <link rel="stylesheet" type="text/css" href="/css/simple-sidebar.css">

  <!-- CUSTOM CSS from /public/css/style.css -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <!-- Google Captcha -->
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>

  <div id="root">

    <div class="d-flex" id="wrapper">

      <!-- Sidebar -->
      <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Menu</div>
        <div class="list-group list-group-flush">
          <a href="/" class="list-group-item list-group-item-action bg-light">Home</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Recent Posts</a>
          <a href="/" class="list-group-item list-group-item-action bg-light">Park List</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Park Events</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Map</a>
          <a href="/about" class="list-group-item list-group-item-action bg-light">About</a>
        </div>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">

        <!-- Fine text to indicate that this app is for educational purposes and not commercial -->
        <div class="alert alert-info mb-0" role="alert">
          SFSU Software Engineering Project CSC 648-848, Summer 2019. For Demonstration Only
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <button class="btn btn-primary" id="menu-toggle">BaySpace</button>

          <!-- Navbar toggle for mobile devices -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Search form for searching tickets -->
          <form class="form-row align-items-center ml-4" method="post" action="/search">
            <!-- Search bar input field -->
            <div class="col-auto form-group">
              <input id="searchTerm" class="form-control" type="search" name="searchTerm" value="{{searchTerm}}" placeholder="Search for an incident...">
            </div>

            <!-- Filter by issue category -->
            <div class="col-auto form-group">
              <select id="issuesCategory" name="issuesCategory" class="form-control">
                <option value="">All Issues</option>
                <option value="Combustion Gas">Combustion Gas</option>
                <option value="Cosmic Rays">Cosmic Rays</option>
                <option value="Ebola">Ebola</option>
                <option value="Extreme Winds">Extreme Winds</option>
                <option value="Fallen Trees">Fallen Trees</option>
                <option value="Fire">Fire</option>
                <option value="Flood">Flood</option>
                <option value="Heavy Snowfall">Heavy Snowfall</option>
                <option value="High UV Index">High UV Index</option>
                <option value="Nuclear Waste">Nuclear Waste</option>
                <option value="Oil Spill">Oil Spill</option>
                <option value="Pollen">Pollen</option>
                <option value="Pollution">Pollution</option>
                <option value="Rabies">Rabies</option>
                <option value="Thunderstorms">Thunderstorms</option>
                <option value="Tobacco">Tobacco</option>
                <option value="Toxic Waste">Toxic Waste</option>
              </select>
            </div>

            <!-- Filter by location category -->
            <div class="col-auto form-group">
              <select id="locationsCategory" name="locationsCategory" class="form-control">
                <option value="">All Locations</option>
                <option value="Alcatraz Island">Alcatraz Island</option>
                <option value="Angel Island">Angel Island</option>
                <option value="Aquatic Park">Aquatic Park</option>
                <option value="AT&T Park">AT&T Park</option>
                <option value="Balboa Park">Balboa Park</option>
                <option value="China Beach">China Beach</option>
                <option value="Fort Funston">Fort Funston</option>
                <option value="Fort Mason">Fort Mason</option>
                <option value="Fort Miley">Fort Miley</option>
                <option value="Glen Canyon Park">Glen Canyon Park</option>
                <option value="Golden Gate Park">Golden Gate Park</option>
                <option value="Japanese Tea Garden">Japanese Tea Garden</option>
                <option value="Lake Merced">Lake Merced</option>
                <option value="Lands End">Lands End</option>
                <option value="Mount Sutro Forest">Mount Sutro Forest</option>
                <option value="Muir Woods">Muir Woods</option>
                <option value="Ocean Beach">Ocean Beach</option>
                <option value="South Park">South Park</option>
                <option value="The Presidio">The Presidio</option>
                <option value="Twin Peaks">Twin Peaks</option>
                <option value="Union Square">Union Square</option>
              </select>
            </div>

            <!-- Button to submit search query -->
            <div class="col-auto form-group">
              <span class="input-group-btn">
                <button id="searchButton" class="btn btn-success" name="searchButton" type="submit">Search</button>
              </span>
            </div>
          </form>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <!-- If user is signed in -->
              {{#if user}}
                <h5 class="align-self-center">Welcome, {{user.firstName}}!</h5>
                <li class="nav-item">
                  <a class="nav-link" href="/post">Post</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users/signout">Sign out</a>
                </li>
              {{else}}
                <!-- If user is not signed in -->
                <li class="nav-item">
                  <a class="nav-link" href="/users/signin">Sign In</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users/register">Register</a>
                </li>
              {{/if}}
            </ul>
          </div>
        </nav>

        <div class="container-fluid">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}

          <!-- body is where .hbs files will display content -->
          {{{body}}}

          <!-- Display error messages if there are any from express-validator -->
          {{#if errors}}
            {{#each errors}}
              <div class="alert alert-danger">
                Error: {{this.msg}}
              </div>
            {{/each}}
          {{/if}}
        </div>
      </div>
      <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

  </div> <!-- End of root -->

  <!-- BOOTSTRAP JS FILES -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/popper/dist/popper.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- reCAPTCHA validation -->
  <script>
    document.getElementById("btn-validate").disabled = true;
    $('.msg-error').addClass("red");
    $('.msg-error').text("Please validate reCAPTCHA before submitting");

    function enableSubmit() {
      document.getElementById("btn-validate").disabled = false;
      $('.msg-error').removeClass("red");
      $('.msg-error').addClass("green");
      $('.msg-error').text("Validation successful! Please submit form");
    }
  </script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

  <!-- Script for form field validation messages, used in signin.hbs and register.hbs -->
  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        let forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        let validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>

</body>
</html>