<!-- Front-end for location page after clicking on a location from home page -->
<!-- This page will show all details on this location -->
<!-- This same file will be used for ALL locations. ONE FILE FOR ALL LOCATIONS -->

<h1>Location information</h1>

<br>

<h3>Location: {{location.locationName}}</h3>

<br>

<!-- Clickable image takes user to the image in new tab -->
<a href="
  {{#if location.imagePath}}
    http://ec2-54-215-173-150.us-west-1.compute.amazonaws.com/{{location.imagePath}}
  {{else}}
    http://ec2-54-215-173-150.us-west-1.compute.amazonaws.com/uploads/noimage.png
  {{/if}}" target="_blank">

  <!-- The image itself -->
  <img src="
    {{#if location.imagePath}}
      http://ec2-54-215-173-150.us-west-1.compute.amazonaws.com/{{location.imagePath}}
  {{else}}
      http://ec2-54-215-173-150.us-west-1.compute.amazonaws.com/uploads/noimage.png
    {{/if}}" alt="Error loading image" class="img-fluid">
</a>
