<h1>Welcome to database search</h1>

<form class="form-inline">
  <input id="search" class="form-control" type="search" name="search" value="{{searchTerm}}" placeholder="Search...">
  <select name="issuesCategory" class="form-control">
    <option value="">All Issues</option>
    <option value="Combustion Gas">Combustion Gas</option>
    <option value="Cosmic Rays">Cosmic Rays</option>
    <option value="Ebola">Ebola</option>
    <option value="Extreme Winds">Extreme Winds</option>
    <option value="Fallen Trees">Fallen Trees</option>
    <option value="Fire">Fire</option>
    <option value="Flood">Flood</option>
    <option value="Heavy Snowfall">Heavy Snowfall</option>
    <option value="High UV Index">High UV Index</option>
    <option value="Nuclear Waste">Nuclear Waste</option>
    <option value="Oil Spill">Oil Spill</option>
    <option value="Pollen">Pollen</option>
    <option value="Pollution">Pollution</option>
    <option value="Rabies">Rabies</option>
    <option value="Thunderstorms">Thunderstorms</option>
    <option value="Tobacco">Tobacco</option>
    <option value="Toxic Waste">Toxic Waste</option>
  </select>
  <select name="locationsCategory" class="form-control">
    <option value="">All Locations</option>
    <option value="Alcatraz Island">Alcatraz Island</option>
    <option value="Angel Island">Angel Island</option>
    <option value="Aquatic Park">Aquatic Park</option>
    <option value="AT&T Park">AT&T Park</option>
    <option value="Balboa Park">Balboa Park</option>
    <option value="China Beach">China Beach</option>
    <option value="Fort Funston">Fort Funston</option>
    <option value="Fort Mason">Fort Mason</option>
    <option value="Fort Miley">Fort Miley</option>
    <option value="Glen Canyon Park">Glen Canyon Park</option>
    <option value="Golden Gate Park">Golden Gate Park</option>
    <option value="Japanese Tea Garden">Japanese Tea Garden</option>
    <option value="Lake Merced">Lake Merced</option>
    <option value="Lands End">Lands End</option>
    <option value="Mount Sutro Forest">Mount Sutro Forest</option>
    <option value="Muir Woods">Muir Woods</option>
    <option value="Ocean Beach">Ocean Beach</option>
    <option value="South Park">South Park</option>
    <option value="The Presidio">The Presidio</option>
    <option value="Twin Peaks">Twin Peaks</option>
    <option value="Union Square">Union Square</option>
  </select>
  <button class="btn btn-success" type="submit">Search</button>
</form>

<table class="table">
  <thead>
    <th scope="col">Issue</th>
    <th scope="col">Location</th>
    <th scope="col">Status</th>
    <th scope="col">Description</th>
    <th scope="col">Rating</th>
    <th scope="col">Time</th>
    <th scope="col">User</th>
  </thead>

  <tbody>
  {{#each results}}
    <tr>
      <td>{{this.issueName}}</td>
      <td>{{this.locationName}}</td>
      <td>{{this.status}}</td>
      <td>{{this.description}}</td>
      <td>{{this.rating}}</td>
      <td>{{this.time}}</td>

      <!-- Print username of user who submitted ticket, or anonymous -->
      {{#if this.userName}}
        <td>{{this.userName}}</td>
      {{else}}
        <td>anonymous</td>
      {{/if}}
    </tr>
  {{/each}}
  </tbody>
</table>
