<h1>Welcome to database search</h1>

<form>
  <input id="search" type="text" name="search" value="{{searchTerm}}" placeholder="Search...">
  <select name="category" onchange="this.form.submit()">
    <option value="">All Categories</option>
    <option value="Issue">by Issue</option>
    <option value="Location">by Location</option>
    <option value="Status">by Status</option>
    <option value="Description">by Description</option>
    <option value="Rating">by Rating</option>
  </select>
</form>

<table class="table">
  <thead>
    <th scope="col">Issue</th>
    <th scope="col">Location</th>
    <th scope="col">Status</th>
    <th scope="col">Description</th>
    <th scope="col">Rating</th>
    <th scope="col">Time</th>
    <th scope="col">User</th>
  </thead>

  <tbody>
  {{#each results}}
    <tr>
      <td>{{this.issue}}</td>
      <td>{{this.location}}</td>
      <td>{{this.status}}</td>
      <td>{{this.description}}</td>
      <td>{{this.rating}}</td>
      <td>{{this.time}}</td>
      <td>{{this.user}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
