<h1>Viewing all tickets</h1>

<table class="table">
  <thead>
    <th scope="col">Issue</th>
    <th scope="col">Location</th>
    <th scope="col">Status</th>
    <th scope="col">Description</th>
    <th scope="col">Rating</th>
    <th scope="col">Time</th>
    <th scope="col">User</th>
  </thead>

  <tbody>
  {{#each tickets}}
    <tr>
      <td>{{this.issue}}</td>
      <td>{{this.location}}</td>
      <td>{{this.status}}</td>
      <td>{{this.description}}</td>
      <td>{{this.rating}}</td>
      <td>{{this.time}}</td>
      <td>{{this.user}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>

<form action="/tickets" class="form-inline" method="POST">
  <input id="issue" class="form-control" type="text" name="issue" placeholder="Issue">
  <input id="location" class="form-control" type="text" name="location" placeholder="Location">
  <input id="description" class="form-control" type="text" name="description" placeholder="Description">
  <input id="rating" class="form-control" type="text" name="rating" placeholder="Rating">
  <button id="addticket" class="form-control btn btn-success" name="addticket">Add Ticket</button>
</form>
